<script>
  function toggle_consent_checkboxes() {
    if ($('#redssocs_survey_consent_read_and_understand').is(':checked') &&
         $('#redssocs_survey_consent_eighteen_or_older').is(':checked'))
    {
      $('#redssocs_survey_consent_dont_meet_all_criteria').attr('checked', false);
      $('#redssocs_survey_consent_dont_meet_all_criteria').attr('disabled', 'disabled');
      $('#take_the_survey').removeAttr('disabled');
    }
    else {
      $('#redssocs_survey_consent_dont_meet_all_criteria').removeAttr('disabled');
      $('#take_the_survey').attr('disabled', 'disabled');
    }
  }
  
  function toggle_take_the_survey_button() {
    if ($('#redssocs_survey_consent_dont_meet_all_criteria').is(':checked')) {
      $('#redssocs_survey_consent_read_and_understand').attr('disabled', 'disabled');
      $('#redssocs_survey_consent_eighteen_or_older').attr('disabled', 'disabled');
    }
    else {
      $('#redssocs_survey_consent_read_and_understand').removeAttr('disabled');
      $('#redssocs_survey_consent_eighteen_or_older').removeAttr('disabled');
    }
  }
</script>

<div style="margin-left: 3em; margin-right: 3em;">

  <h1>Welcome!</h1>
  <p>
    By participating in this research study you can make an important
    contribution to the health of RIT students and earn five dollars
    at Amazon.com for doing so. This online survey is being 
    conducted by researchers here at the 
    Rochester Institute of Technology. We
    are studying whether online social networks such as 
    Facebook can be used to facilitate healthy lifestyles,
    particularly with respect to sexual health. 
  </p>

  
  <%= form_for @student, :url => { :controller => 'consent', :action => 'info_letter' } do |f| %>
      <%= label_tag 'school', 'Which college do you attend?'%>
    <p>
<%= f.radio_button :student_type, "CAST" %> College of Applied Science and Technology
</br>
<%= f.radio_button :student_type, "COB" %> Saunders College of Business
</br>

<%= f.radio_button :student_type, "GCCIS" %> B. Thomas Golisano College of Computing and Information Sciences
</br>

<%= f.radio_button :student_type, "KGCE" %> Kate Gleason College of Engineering
</br>

<%= f.radio_button :student_type, "CHST" %> College of Health Sciences and Technology
</br>

<%= f.radio_button :student_type, "CIAS" %> College of Imaging Arts and Sciences
</br>

<%= f.radio_button :student_type, "CLA" %> College of Liberal Arts
</br>

<%= f.radio_button :student_type, "NTID" %> National Technical Institute for the Deaf
</br>

<%= f.radio_button :student_type, "COS" %> College of Science
</br>
   <%= f.radio_button  :student_type, "OTHER"%> Other
    </p>

    <%= label_tag 'year', 'What year are you in?'%>
    <p>
      <%= f.radio_button :year, "First" %> First-year undergrad
</br>
     <%= f.radio_button :year, "Second"%> Second-year undergrad
</br>
      <%= f.radio_button :year, "Third" %> Third-year undergrad
</br>
     <%= f.radio_button :year, "Fourth"%> Fourth-year undergrad
</br>
     <%= f.radio_button :year, "Other"%> Other
    </p>
      <%= label_tag 'gender', 'What is your gender?'%>
    <p>
      <%= f.radio_button :gender, "Male" %> Male
</br>
     <%= f.radio_button :gender, "Female"%> Female
</br>
      <%= f.radio_button :gender, "Male-to-Female" %> Transgender, male-to-female
</br>
     <%= f.radio_button :gender, "Female-to-Male"%> Transgender, female-to-male 
</br>
     <%= f.radio_button :gender, "Other"%> Other
    </p>
 <p>
      <%= submit_tag "Check eligibility" %>
    </p>

  <% end %>
  
</div>
